.stockRow {
  text-align: left;
  padding: 8px 16px;
  color: #fff;
  font-size: 20px;

  & > div {
    display: inline-block;
  }

  &:hover {
    background-color: #212125;
    cursor: pointer;
  }
}

.count {
  font-size: 12px;
  margin-top: 2px;
}

.value {
  font-size: 22px;
  float: right;
  color: green;
  margin-top: 4px;
}

.loss {
  color: red;
}
